body{
    background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    margin: 0 auto;
    width: 960px;
}

@media (max-width: 960px) {
    .container {
        width: 100%;
    }
}

.main-header {
    padding: 1px;
    margin-top: 100px;
    background-image: url(../img/banner.jpg);
    text-align: center;
}

.main-header__avatar {
    display: block;
    margin: 0 auto;
    margin-top: -70px;
    border: 3px solid white;

    border-radius: 999px;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-header h1 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    color: white;
}

body {
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 300;
    color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}

.main-nav {
    background-color: #333;
}

.main-nav ul li {
    margin: 15px 10px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.main-nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    display: inline-block;
}

.info-section {
    background-color: #fff;
    padding: 30px 60px;
}

.whatido__skill-list {
    list-style: none;
    margin-top: 60px;
    text-align: center;
    overflow: hidden;
}

.whatido__skill--code {
    background-image: url(../img/skill-code.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 100px;
}

.whatido__skill--design {
    background-image: url(../img/skill-design.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 100px;
}

.whatido__skill--product {
    background-image: url(../img/skill-product.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 100px;
}



.whatido__skill {
    float:left;
    width:33%;
}

.info-section header {
    text-align: center;
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display:inline;
}

.info-section header h2:after {
    content: "";
    display: block;
    width: 30%;
    margin: 0 auto;
    border-bottom: 3px solid black;
}

.info-section__description {
    font-style: italic;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.education-experience__list img {
    width: 180px;
    float: left;
    margin-right: 50px;
    padding-top: 35px;
}

.education-experience__list li {
    overflow: hidden;
    margin: 50px auto;
    display: block;
}

.education-experience__list h3 {
    font-size: 30px;
}

html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

.photos__list {
    overflow: hidden;
}

.photos__list li { 
    width: 25%;
    float:left;
}

.photos__list img {
    display: block;
    padding: 10px;
    width: 100%;
}
.get-in-touch__list {
    overflow: hidden;
}

.get-in-touch__list li {
    width:25%;
    float:left;
    text-align: center;
    padding: 20px 10px;
}


.contact input,
.contact textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact button {
    border: none;
    border-radius: 9999px;

    background: #ffd524;

    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    box-shadow: 0 3px 0 #daae1d;
}

.contact form {
    width: 40%;
    display: inline-block;
    margin:50px 0 0 0;
}

.contact {
    text-align: center;
}

.input {
    position:relative;
    margin: 20px 0;
}

.input label {
    position: absolute;
    right:100%;
}

.input input {
    width: 300px;
    padding: 8px;
}

.input textarea {
    width: 300px;
    height: 100px;
}

.input button {
    width: 300px;
    height:40px;
}

/*响应式布局*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .main-header h1 {
        font-size: 32px
    }
    .main-nav li {
        display: block;
    }
    .main-nav ul{
        padding: 1px;
    }
    .info-section {
        padding: 10px;
    }
    li.whatido__skill {
        margin-bottom:40px;
        width: 100%;
        text-align: center;
    }
    .education-experience__list {
        padding: 10px;
    }
    .education-experience__list img {
        display: block;
        float: none;
        margin: 0 auto;
        width: 180px;
    }
    .education-experience header span {
        display: block;
    }
    .photos__list {
        padding: 10px;
    }
    .photos__list li {
        width: 100%;
    }
    .get-in-touch__list {
        padding: 0px;
    }
    .get-in-touch__list li {
        width: 50%;
    }
    .get-in-touch__list img {
        width: 100%;
    }
    .contact label {
        position: static;
    }
    .contact {
        text-align: left;
    }
}

ul {
    padding: 0;
    list-style: none;
}

















