body{
    background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.main-header {
    padding: 1px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-image: url(../img/banner.jpg);
    text-align: center;
}

.main-header__avatar {
  display: block;
  margin: 0 auto;
  margin-top: -70px;
  border: 3px solid white;

  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-header h1 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    color: white;
}